<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>808448586537-vgvou2dlu8it5jmi7kotapjfui2745h7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808448586537-vgvou2dlu8it5jmi7kotapjfui2745h7</string>
	<key>API_KEY</key>
	<string>AIzaSyDE5iVlzutSHi4b4oTvxVUsq66L4l5oQ-0</string>
	<key>GCM_SENDER_ID</key>
	<string>808448586537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RaspberryPiProject.TestProject</string>
	<key>PROJECT_ID</key>
	<string>testproject-fec80</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-fec80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:808448586537:ios:e5df57213d90cd33</string>
	<key>DATABASE_URL</key>
	<string>https://testproject-fec80.firebaseio.com</string>
</dict>
</plist>